@model FirstApp.Models.FilmCostumer;

<div>
	@foreach (var cus in Model.Customer){
	<a href="/Movie/Affich/@cus.Id">@cus.Id</a>
	<h1>@Html.ActionLink(cus.Name , "Affich" , "Movie" , new{id = cus.Id} , null)</h1>
	}
</div>
